.Input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.Label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.InputEl {
    background: #ffffff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    font: inherit;
    outline: none;
    padding: 6px 10px;
    width: 100%;
}
.InputEl:focus {
    background: #ccc;
    outline: none;
}
.Invalid{
    border-color: lightseagreen;
}

.ValidationError {
    color: red;
    margin: 5px 0;
} 
